{% extends 'AppBundle::base.html.twig' %}

{% block title %}
MORENO'S SCHOOL WEB
{% endblock %}

{% block hojas_estilo %}
  {{ parent() }}

{% endblock %}



{% block main %}


<h1>ACTIVIDAD {{actividadExtra.nombre}} BORRADA</h1>


{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}
